@using MVC.Models
@model EleveViewModel

@Html.ActionLink("Retour", "Index", "Eleve", null, new { @class = "btn btn-danger float-right" })
      
<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#info-etudiant" role="tab">Informations</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#notes-etudiant" role="tab">Notes</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#absences-etudiant" role="tab">Absences</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="info-etudiant" role="tabpanel">
                <h5>Identitfiant: @Model.Id</h5>
                <h5>Nom: @Model.Nom</h5>
                <h5>Prénom: @Model.Prenom</h5>
                <h5>Date de naissance: @Model.DateDeNaissance</h5>
            </div>
            <div class="tab-pane fade" id="notes-etudiant" role="tabpanel">
                @Html.ActionLink("Ajouter une note", "Add", "Note", new { EleveId = @Model.Id }, new { @class = "btn btn-success" })
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Matière</th>
                            <th scope="col">Valeur</th>
                            <th scope="col">Date</th>
                            <th scope="col">Appréciation</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var note in Model.Notes)
                        {
                        <tr>
                            <th scope="row">@note.Id</th>
                            <td>@note.Matiere</td>
                            <td>@note.Valeur</td>
                            <td>@note.DateNote</td>
                            <td>@note.Appreciation</td>
                            <td>
                                @Html.ActionLink("Supprimer", "Remove", "Note", new { id = note.Id, EleveId = Model.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                @if (Model.Notes.Count() == 0)
                {
                    <div class="alert alert-danger" role="alert">
                        L'élève n'a pas de notes
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="absences-etudiant" role="tabpanel">
                @Html.ActionLink("Ajouter une absence", "Add", "Absence", new { EleveId = @Model.Id }, new { @class = "btn btn-success" })
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Motif</th>
                            <th scope="col">date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var absence in Model.Absences)
                        {
                            <tr>
                                <th scope="row">@absence.Id</th>
                                <td>@absence.Motif</td>
                                <td>@absence.DateAbsence</td>
                                <td>
                                    @Html.ActionLink("Supprimer", "Remove", "Absence", new { id = absence.Id, EleveId = Model.Id }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.Absences.Count() == 0)
                {
                    <div class="alert alert-danger" role="alert">
                        L'élève n'a pas d'absences
                    </div>
                }
            </div>
        </div>
    </div>
</div>