@using MVC.Models
@model List<EleveViewModel>

@Html.ActionLink("Ajouter un élève", "Add", "Eleve", null, new { @class = "btn btn-success float-right mb-1" })

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eleve in Model)
        {
            <tr>
                <th scope="row">@eleve.Id</th>
                <td>@eleve.Nom</td>
                <td>@eleve.Prenom</td>
                <td>@eleve.DateDeNaissance</td>
                <td>
                    <button class="btn btn-warning">Editer</button>
                    @Html.ActionLink("Supprimer", "Remove", "Eleve", new { id = eleve.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Détails", "Info", "Eleve", new { id = eleve.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
