@using MVC.Models
@model List<ClasseViewModel>

@Html.ActionLink("Ajouter une classe", "Add", "Classe", null, new { @class = "btn btn-success float-right mb-1" })

@using (Html.BeginForm())
{
    <div class="form-group row">
        @Html.TextBox("search", null, new { @class = "form-control col-6" })
        <button class="btn btn-outline-success col-2 ml-2" type="submit">Rechercher</button>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom de l'établissement</th>
            <th scope="col">Niveau</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var classe in Model)
        {
            <tr>
                <th scope="row">@classe.Id</th>
                <td>@classe.NomEtablissement</td>
                <td>@classe.Niveau</td>
                <td>
                    @Html.ActionLink("Supprimer", "Remove", "Classe", new { id = classe.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Détails", "Info", "Classe", new { id = classe.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
